@using CarCatalogue.Common.Contracts;
@model IPagination

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var doesHaveSearchQuery = Context.Request.Query.TryGetValue("searchQuery", out Microsoft.Extensions.Primitives.StringValues searchQuery);
    var doesHaveMake = Context.Request.Query.TryGetValue("make", out Microsoft.Extensions.Primitives.StringValues make);
}

<style>
    .pagination {
        text-align: center;
        justify-content: center;
    }
        .pagination a {
            font-size: 15px;
            color: white;
        }
</style>

@if (Model.HasPreviousPage || Model.HasNextPage)
{
    <div class="pagination">
        <a asp-controller="Make" asp-action="Index"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-searchQuery="@searchQuery"
           asp-route-make="@make"
           class="btn btn-default @prevDisabled">
            Previous
        </a>

        @*Three Previos Pages*@
        @for (int i = 0; i < Model.ThreePreviousPages.Length; i++)
        {
            var page = Model.ThreePreviousPages[i];
            string text = page.ToString();
            if (i == 0 &&
                page > 1)
            {
                text = $".. {page}";
            }

            <a asp-controller="Make" asp-action="Index"
               asp-route-page="@(page)"
               asp-route-searchQuery="@searchQuery"
               asp-route-make="@make"
               class="btn btn-default">
                @(text)
            </a>
        }

        @*Current Page*@
        <a asp-controller="Make" asp-action="Index"
           asp-route-page="@(Model.PageIndex)"
           asp-route-searchQuery="@searchQuery"
           asp-route-make="@make"
           class="btn btn-default font-weight-bold disabled">
            @(Model.PageIndex)
        </a>

        @*Three Next Pages*@
        @for (int i = 0; i < Model.ThreeNextPages.Length; i++)
        {
            var page = Model.ThreeNextPages[i];
            string text = page.ToString();
            if (i == Model.ThreeNextPages.Length - 1 &&
                page < Model.TotalPages)
            {
                text = $"{page} ..";
            }

            <a asp-controller="Make" asp-action="Index"
               asp-route-page="@(page)"
               asp-route-searchQuery="@searchQuery"
               asp-route-make="@make"
               class="btn btn-default">
                @(text)
            </a>
        }


        <a asp-controller="Make" asp-action="Index"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-searchQuery="@searchQuery"
           asp-route-make="@make"
           class="btn btn-default @nextDisabled">
            Next
        </a>

    </div>
}