@using CarCatalogue.Models.Response;

@model PaginatedCarsResponseModel
@{
    Context.Request.Query.TryGetValue("searchQuery", out Microsoft.Extensions.Primitives.StringValues currentSearchQuery);
}

<link rel="stylesheet" href="~/css/listAllCarsPage/style.css" />
<script src="~/js/site.js"></script>

<div class="container">
    <form>
        <div class="search">
            <input autocomplete="off" name="searchQuery" value="@currentSearchQuery" type="text" class="searchTerm" placeholder="Search..">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>

    <h2>All Cars</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">Add New Car</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    ID
                </th>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Year
                </th>
                <th>
                    Horsepower
                </th>
                <th>
                    Acceleration
                </th>
                <th>
                    Weight(kg)
                </th>
            </tr>
        </thead>
        @if ((bool?)Model.Items?.Any() ?? false)
        {
            <tbody class="tbody">
                @foreach (var car in Model.Items)
                {
                    <tr></tr>
                <td class="td-card"><img class="img-card" src="@car.ImageUrl" /></td>
                <td>@car.Id</td>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Year.Value.Year</td>
                <td>@car.Horsepower</td>
                <td>@car.Acceleration</td>
                <td>@car.Weight</td>
                <td><a href="#" onclick="return getbyID('@car.Id')">Edit</a> | <a href="#" onclick="Delete('@car.Id')">Delete</a></td>
                }
            </tbody>
        }
    </table>
</div>

@*Pagination*@
<partial name="../Shared/_Pagination.cshtml" model=@Model />
@*Pagination*@

@*MODAL*@

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Car</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div id="ValidationSummary" class="validation-create text-danger"></div>
                    <div class="form-group">
                        <label for="Make">Make</label>
                        <input type="text" class="form-control" id="Make" placeholder="Make" />
                    </div>
                    <div class="form-group">
                        <label for="Model">Model</label>
                        <input type="text" class="form-control" id="Model" placeholder="Model" />
                    </div>
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <input type="text" class="form-control" id="Year" placeholder="Year" />
                    </div>
                    <div class="form-group">
                        <label for="Horsepower">Horsepower</label>
                        <input type="text" class="form-control" id="Horsepower" placeholder="Horsepower" />
                    </div>
                    <div class="form-group">
                        <label for="Acceleration">Acceleration</label>
                        <input type="text" class="form-control" id="Acceleration" placeholder="Acceleration" />
                    </div>
                    <div class="form-group">
                        <label for="Weight">Weight</label>
                        <input type="text" class="form-control" id="Weight" placeholder="Weight" />
                    </div>
                    <div class="form-group">
                        <label for="Image">Image</label>
                        <input type="file" class="form-control" id="ImageUpload" placeholder="Image" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>